{% extends 'base.html.twig' %}

{% block body %}
    <div class="container bg-muted">
        <a class="btn bg-success" href="/Social-Educ-Admin/public/posts/add"><i class="fas fa-plus"></i> Add Post</a>
        <h1>Hello from list</h1>
        <div class="table-responsive" style="width: 1000px;">
            <table id="list-table" class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                <th scope="col" style="width: 2%;">#</th>
                <th scope="col" style="width: 5%;">Author</th>
                <th scope="col" style="width: 5%;">Title</th>
                <th scope="col" style="width: 55%;">Body</th>
                <th scope="col" style="width: 20%;">Action</th>
                </tr>
            </thead>
            {% for post in posts %}
            <tbody>
                <tr>
                <th scope="row">{{post.id}}</th>
                <td>{{post.author}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td><a class="btn bg-info" href="{{post.id}}/detail"><i class="far fa-eye"></i></a>
                    <a class="btn bg-primary" href="{{post.id}}/edit"><i class="far fa-edit"></i></a>
                    <a class="btn bg-danger" href="{{post.id}}/delete"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
            </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}