{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div style="width: 80%;">
            <h1>{{post_detail.title}}</h1>
            {# <label>{{post_detail.date|date('M-d')}}, {{post_detail.date|date('Y')}} by {{post_detail.author}}</label> {{post_detail.date|date('H:i:s')}} #}
            <br>
            <p><img src="{{post_detail.picture}}"></p>
        </div>
        <div>
            <a class="btn bg-info" href="/Social-Educ-Admin/public/posts"><i class="fas fa-undo"></i></a>
            <a class="btn bg-success" href="/Social-Educ-Admin/public/posts/new"><i class="fas fa-plus"></i></a>
            <a class="btn bg-primary" href="edit"><i class="far fa-edit"></i></a>
            <a class="btn bg-danger" href="delete"><i class="far fa-trash-alt"></i></a>
        </div>
    </div>
    
    <div class="row">
        <p style="width: 49%;">Body: {{post_detail.body}}</p>
        <img src="{{post_detail.media}}">
    </div>
    <div class="row">
        <label>nomber of likes: {{post_detail.numberOfLikes}}, nomber of comments: {{post_detail.numberOfComments}}</label>
    </div>

    <div class="table-responsive" style="width: 1100px;">
            <table id="list-table" class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                <th scope="col" style="width: 2%;">#</th>
                <th scope="col" style="width: 5%;">User Picture</th>
                <th scope="col" style="width: 5%;">Author</th>
                <th scope="col" style="width: 45%;">Body</th>
                <th scope="col" style="width: 5%;">Likes</th>
                {# <th scope="col" style="width: 55%;">Comments</th> #}
                <th scope="col" style="width: 11%;">Date</th>
                <th scope="col" style="width: 35%;">Action <a class="btn bg-primary" href="/Social-Educ-Admin/public/comments/addComment"><i class="fa fa-comment"></i></a></th>
                </tr>
            </thead>
            {% for comment in comments %}
            <tbody>
                <tr>
                <th scope="row">{{comment.id}}</th>
                <td><img src="{{comment.userPicture}}"></td>
                <td>{{comment.userName}}</td>
                <td>{{comment.comment}}</td>
                <td>{{comment.numberOfLikes}}</td>
                <td>{{comment.date|date('Y-M-d')}} </label> {{comment.date|date('H:i:s')}}</td>
                <td><a class="btn bg-success" href="###"><i class="fa fa-thumbs-up"></i></a>
                    <a class="btn bg-secondary " href="###"><i class="fa fa-comments"></i></a>
                    <a class="btn bg-primary" href="/Social-Educ-Admin/public/comments/{{comment.id}}/edit"><i class="far fa-edit"></i></a>
                    <a class="btn bg-danger" href="/Social-Educ-Admin/public/comments/{{comment.id}}/delete"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
            </tbody>
            {% endfor %}
            </table>
        </div>
</div>
{% endblock %}